@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 auto;
}

body {
  background-color: #272727;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

.movie-container {
  margin: 1rem;
  text-align: center;
}

.movie-container select {
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.5rem;
  margin: 1.875rem 0 0 0;
  padding: 0.5rem 0.875rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

label {
  font-size: 1.875rem;
  position: relative;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  perspective: 62.5rem;
}

.seat {
  background-color: #4d4d58;
  height: 1rem;
  width: 2rem;
  margin: 0.1875rem;
  padding: 0.875rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(5) {
  margin-right: 1rem;
}

.seat:nth-last-of-type(5) {
  margin-left: 1rem;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.25);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(89, 89, 89, 0.5);
  padding: 1rem;
  border-radius: 5px;
  color: #ffffff;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 10rem;
  width: 100%;
  margin: 0rem 0.5rem 1rem 0.5rem;
  transform: rotateX(-55deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.label-screen {
  font-size: 1.5rem;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
  padding: 0.875rem;
}
p.text {
  margin: 1.5rem;
}

p.text span {
  color: #6feaf6;
}
